*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html, 
body{
    height: 100%;
}
body{
    background-image: url(./assets/barbecue_background1.jpg);
     overflow: hidden;  /*to hide the scrollbar */
}

header, h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
    width: fit-content;
    margin: 5rem auto;
    margin-bottom: 2rem;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 0.5rem;
}

.container{
    width: 70%;
    margin: auto;
}
#form_container{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
#form_container, input{
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 0.8rem;
    border-radius: .5rem;
    font-size: 1.5rem;

}
#to_calculate{
    display: flex;
    margin: auto;

    width: 30%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: 1.5rem;
}
#to_calculate:hover{
    cursor: pointer;
    background-color: rgb(60, 163, 60);
}
#informations{
    background-color: rgba(245, 245, 245, 0.8);
    display: none;
    width: 60%;
    height: 15rem;
    margin: 2rem auto;
    border-radius: .5rem;
    box-shadow: .1rem .3rem;
    font-size: 1.5rem;
}
#ingredients_list{
    margin: 2rem auto;
}
#ingredients_list, li{
    list-style: none;
    font-weight: bold;
}
#clearInformations{
    display: none;
    margin:  2rem auto;

    width: 30%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: 1.5rem;
}
#clearInformations:hover{
    cursor: pointer;
    background-color: rgb(241, 93, 93);
}
footer{
    display: inline-block;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 70%;
}
#firstContainer{
    margin: auto;
    padding: 2rem;
    width: 90%;
}
#githubLink{
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    background-color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}
#githubLink:hover{
    cursor: pointer;
    background-color: whitesmoke;
    font-weight: bold;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input[type= 'number']::-webkit-outer-spin-button,
input[type= 'number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1205px){
    .container{
        width: 90%;
    }
    #form_container{
        display: flex;
    }
    #form_container, input{
        height: 5rem;
        margin-left: 10px;
        box-sizing: content-box;
        font-size: 1.5rem;
    }
    #to_calculate{
        margin-top: 30px;
        width: 20rem;
        height: 4rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    #clearInformations{
        margin-top: 30px;
        width: 20rem;
        height: 4rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    #adultsNumber{
        background-image: url("./assets/adult-icon.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: right;
        
    }
    #childrenNumber{
        background-image: url("./assets/child-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    #duration{
        background-image: url("./assets/clock-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    #informations{
        margin-top: 40px;
        font-size: 2.3rem;
        font-weight: bold;
        height: 17rem;
        width: 32rem;
    }

}



